@import url(https://fonts.googleapis.com/css?family=Arimo:400,400italic,700,700italic);
body,
html {
  padding: 0;
  margin: 0;
  font-family: 'Arimo', sans-serif;
  line-height: 1.5;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw  !important;
  height: 100vh  !important;
  z-index: 9;
  background-color: #2D3142;
}

.loader-svg {
  max-width: 150px;
  z-index: 10;
  background-color: transparent;
}

main {
  z-index: 2;
  position: relative;
  background-color: #2D3142;
  -webkit-transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.list-y-spacer {
  padding-bottom: 25px;
  padding-top: 25px;
}

.short-desc-text {
  font-size: 12px;
  font-style: italic;
  color: #EF8354;
}

/**SIDEBAR*/
.sidebar {
  height: 100%;
  width: 400px;
  position: fixed;
  top: 0;
  z-index: 1;
  left: 0;
  background-color: #EF8354;
}

.bar {
  display: block;
  height: 5px;
  width: 50px;
  background-color: #EF8354;
  margin: 10px auto;
}

.button {
  cursor: pointer;
  display: inline-block;
  width: auto;
  margin: 0 auto;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.nav-left {
  position: fixed;
  left: 40px;
  top: 20px;
}

.nav-left.visible-xs {
  z-index: 3;
}

.hidden-xs {
  display: none;
}

.middle {
  margin: 0 auto;
}

.bar {
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.nav-left.visible-xs .active .bar {
  background-color: #FFF;
  -webkit-transition: all .7s ease;
  -moz-transition: all .7s ease;
  -ms-transition: all .7s ease;
  -o-transition: all .7s ease;
  transition: all .7s ease;
}

.button.active .top {
  -webkit-transform: translateY(15px) rotateZ(45deg);
  -moz-transform: translateY(15px) rotateZ(45deg);
  -ms-transform: translateY(15px) rotateZ(45deg);
  -o-transform: translateY(15px) rotateZ(45deg);
  transform: translateY(15px) rotateZ(45deg);
}

.button.active .bottom {
  -webkit-transform: translateY(-15px) rotateZ(-45deg);
  -moz-transform: translateY(-15px) rotateZ(-45deg);
  -ms-transform: translateY(-15px) rotateZ(-45deg);
  -o-transform: translateY(-15px) rotateZ(-45deg);
  transform: translateY(-15px) rotateZ(-45deg);
}

.button.active .middle {
  width: 0;
}

.move-to-right {
  -webkit-transform: translateX(400px);
  -moz-transform: translateX(400px);
  -ms-transform: translateX(400px);
  -o-transform: translateX(400px);
  transform: translateX(400px);
}

nav {
  padding-top: 30px;
}

.sidebar-list {
  padding: 20px;
  margin: 0;
  list-style: none;
  position: relative;
  margin-top: 120px;
  text-align: center;
}

.sidebar-item {
  margin-left: 30px;
  opacity: 0;
  -webkit-transform: translateY(20px);
  -moz-transform: translateY(20px);
  -ms-transform: translateY(20px);
  -o-transform: translateY(20px);
  transform: translateY(20px);
}

.sidebar-item:first-child {
  -webkit-transition: all .7s .2s ease-in-out;
  -moz-transition: all .7s .2s ease-in-out;
  -ms-transition: all .7s .2s ease-in-out;
  -o-transition: all .7s .2s ease-in-out;
  transition: all .7s .2s ease-in-out;
}

.sidebar-item:nth-child(2) {
  -webkit-transition: all .7s .4s ease-in-out;
  -moz-transition: all .7s .4s ease-in-out;
  -ms-transition: all .7s .4s ease-in-out;
  -o-transition: all .7s .4s ease-in-out;
  transition: all .7s .4s ease-in-out;
}

.sidebar-item:nth-child(3) {
  -webkit-transition: all .7s .6s ease-in-out;
  -moz-transition: all .7s .6s ease-in-out;
  -ms-transition: all .7s .6s ease-in-out;
  -o-transition: all .7s .6s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item:last-child {
  -webkit-transition: all .7s .8s ease-in-out;
  -moz-transition: all .7s .8s ease-in-out;
  -ms-transition: all .7s .8s ease-in-out;
  -o-transition: all .7s .8s ease-in-out;
  transition: all .7s .6s ease-in-out;
}

.sidebar-item.active {
  opacity: 1;
  padding: 10px;
  -webkit-transform: translateY(0px);
  -moz-transform: translateY(0px);
  -ms-transform: translateY(0px);
  -o-transform: translateY(0px);
  transform: translateY(0px);
}

.sidebar-anchor {
  color: #FFF;
  text-decoration: none;
  font-size: 1.8em;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 7px;
}

.sidebar-anchor:before {
  content: "";
  width: 0;
  height: 2px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  -webkit-transition: all .7s ease-in-out;
  -moz-transition: all .7s ease-in-out;
  -ms-transition: all .7s ease-in-out;
  -o-transition: all .7s ease-in-out;
  transition: all .7s ease-in-out;
}

.sidebar-anchor:hover:before {
  width: 100%;
}

.ua {
  position: absolute;
  bottom: 20px;
  right: 30px;
}

.fa {
  font-size: 1.4em;
  color: #EF8354;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.ua:hover .fa {
  color: #FFF;
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -ms-transform: scale(1.3);
  -o-transform: scale(1.3);
  transform: scale(1.3);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

@media (min-width: 480px) {
  .nav-list {
    display: block;
  }
}

@media (min-width: 768px) {
  .nav-left {
    position: absolute;
  }
  .hidden-xs {
    display: block;
  }
  .visible-xs {
    display: none;
  }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
    to { opacity: 1; }
}

/**CV CONTEXT*/

.cv-wrapper {
  width: 85%;
  margin: auto;
  left: 10%;
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 0px 2px rgba(255, 255, 255, 0.05);
  outline: none;
}

.cv-header {
  display: flex;
  flex-direction: row; 
  padding: 40px;
  padding-left: 15%;
  background: rgb(0 0 0 / 10%);
  border-bottom: 1px solid #EF835469;
}

.cv-photowrapper {
	background: transparent;
	width: 125px;
	padding: 5px;
	border-radius: 5px;
	margin: auto;
}

.cv-personalinfo {
  width: 100%;
  padding-inline-start: 5px;
  margin: auto;
  padding-left: 10%;
}

.cv-fullname {
  font-family: Orbitron, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #EF8354;
  padding-bottom: 20px;
}

.cv-subinfo {
  font-size: 16px;
  font-weight: normal;
}

.cv-body {
  display: flex;
  flex-direction: column; 
  padding-top: 40px;
  padding-left: 15%;
  background: rgb(0 0 0 / 10%);
}

.cv-blockwrapper {
  display: flex;
  flex-direction: row;
}

.cv-title {
  width: 25%;
  font-family: Orbitron, sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #EF8354;
}

.cv-content {
  text-align: justify;
  font-size: 16px;
  font-weight: normal;
  padding-right: 10%;
}

/**POPUP*/
.popup-rectangle {
	display: none;
	align-items: center;
	justify-content: center;
	position: fixed;
  margin-top: 20px;
  margin-left: calc(100vw - 55vw);
	width: 50px;
	height: 50px;
  z-index: 10;
	background: #2D3142;
	transform: scale(0);
	border-radius: 50%;
	color: #009b34;
	opacity: 0;
	overflow: hidden;
	animation: scale-in .3s ease-out forwards,
		expand .35s .25s ease-out forwards;
}

.popup-text {
	display: flex;
	align-items: center;
	padding: 0 16px;
	font-family: Orbitron, sans-serif;
	font-size: 16px;
	animation: fade-in .7s ease-in forwards;
}

@keyframes scale-in {
	100% {
		transform: scale(1);
		opacity: 1;
	}
}

@keyframes expand {
	50% {
		width: 350px;
		border-radius: 6px;
	}
	100% {
		width: 300px;
		border-radius: 4px;
		box-shadow: 0px 1px 3px 0px rgba(0,0,0,.2),
								0px 1px 1px 0px rgba(0,0,0,.14),
								0px 3px 3px -1px rgba(0,0,0,.12);
	}
}

@keyframes fade-in {
	0% {
		opacity: 0;
	}
	100% {
		opacity: .8;
	}
}

/**SCROLLBAR*/
::-webkit-scrollbar {
  height: 4px;
  width: 4px;
  -webkit-transition: transform .7s ease-in-out;
  -moz-transition: transform .7s ease-in-out;
  -ms-transition: transform .7s ease-in-out;
  -o-transition: transform .7s ease-in-out;
  transition: transform .7s ease-in-out;
}

/* Track */
::-webkit-scrollbar-track {
  background: #2D3142; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #EF835499; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #EF8354; 
}